.contenedor{
background-color: white;
border: black 2px solid;
display: flex;
justify-content: space-between;
}
.itemrojo{
background-color: red;
width: 100px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
.itemazul{
background-color: blue;
width: 100px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
.itemverde{
background-color: green;
width: 100px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
color: white;
}